#testBtns {
  width: 100%;
  padding: 40px;
}

#testBtns button {
  background: #fafafa;
  border-radius: 2px;
  padding: 15px 30px;
  border: 0;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.21);
}

button:focus, button:active {
  outline: 0;
}

#testBtns button:first-child {
  margin-right: 40px;
}
