.ripple {
  position: absolute;
  top: 0px; /* so browsers would pre-calculate it off layout*/
  box-sizing: border-box;
  overflow: hidden;
  pointer-events: none;
  border-color: transparent;
  border-style: solid;
  direction: ltr;
}

.ripple__effect {
  position: relative;
  box-sizing: border-box;
  border-radius: 50%;
  transition-property: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ripple__effect.ripple__effect--hidden {
  opacity: 0 !important;
  transform: scale(0);
}

.ripple__effect.ripple__effect--hide {
  transition-property: opacity, transform;
  opacity: 0 !important;
}

.ripple--mouseout-protected * {
  pointer-events: none;
}
